language: python
matrix:
  include:
    - language: python
      python:
        - 3.7-dev
      env:
        - TOXENV=py37
      install:
        - pip install -r requirements_flask.txt
        - pip install tox
      before_script:
        - cd $TRAVIS_BUILD_DIR/src/main/python/server
        - python server.py &
        - cd $TRAVIS_BUILD_DIR
      script:
        - tox
      cache:
        directories:
          - ~/.npm
          - ~/.chache

    - language: generic
      python:
        - 3.7-dev
      dist: xenial
      sudo: true
      before_install:
        - sudo apt-get install xvfb libgtk2.0-0 libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2
      install:
        - cd $TRAVIS_BUILD_DIR
        - pip install -r requirements_flask.txt --user
        - cd $TRAVIS_BUILD_DIR/src/main/vue/client
        - npm install
        - npm install wait-on
      before-script:
        - cd $TRAVIS_BUILD_DIR/src/main/vue/client
      script:
        - npm start & sleep 20
        - npm run server:start & sleep 20
        - node_modules/.bin/cypress run